@page "{id}"
@model DotNetAGram.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "View Post";
}

<div>
    <label asp-for="Post.Author">@Model.Post.Author</label>
    <label asp-for="Post.PostDate">@Model.Post.PostDate</label>
</div>
<div>
    <img src="@Model.Post.ImageURL" />
</div>
<div>
    <p>@Model.Post.Description</p>
</div>

<button><a asp-page="/Posts/Edit" asp-route-id="@Model.Post.ID">Edit Description</a></button>
<button type="submit" asp-page-handler="Delete">Delete Post</button>
<button><a asp-page="/Index">Back</a></button>

