@page
@using DotNetAGram.Models.Interfaces

@inject IPost  PostServices

@{ 
    var posts = await PostServices.GetAllPosts();
    ViewData["Title"] = "View All Posts";
    Layout = "_Layout";
}

<div class="container">
    <button><a asp-page="/Posts/Manage" asp-route-id="" class="btn btn-info">Add a new Post</a></button>

    @foreach (var post in posts)
    {
        <div class="card mb-4">
            <a asp-page="/Posts/Index" asp-route-id="@post.ID">
                <img class="card-img-top" src="@post.ImageURL" alt="Card image cap">
            </a>
            <div class="card-body">
                <h2 class="card-title" asp-for="@post.Author">@post.Author</h2>
                <h3 class="card-title" asp-for="@post.PostDate">@post.PostDate</h3>
                <p class="card-text">@post.Description</p>
            </div>
        </div>
    }

</div>
